<div class="show-product">
  <div class="product">
    <div class="product-image">
      <img src="https://via.placeholder.com/150" alt="product-image">
    </div>
    <div class="product-info">
      <h2>{{ item.name }}</h2>
      <p class="product-description">{{ item.description }}</p>
      <p>Price: {{ item.price }}</p>
      <p>Stock: {{item.quantity}}</p>
      @if(item.quantity < 1){
        <p class="out-of-stock">Out of stock</p>
      }
      @if(user?.admin){
      <button (click)="editItem(item)">Edit</button>
      } @else {
      <button [disabled]="item.quantity < 1" (click)="addToCart(item)">Add to Cart</button>
      }
    </div>
  </div>
</div>
