.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.add-btn {
  margin-bottom: 1rem;
  margin-inline-end: 0;
}

.add-btn-container {
  display: flex;
  justify-content: end;
}
